@import _chillspace-variables

body.account
  header
    width: 100%
    height: 200px
    text-align: center
    background: white image-url("common/bg-account-header.jpg") center center no-repeat
    background-size: cover
    +bp(lg)
      height: 300px
    &.overlay::after
      content: ""
      position: absolute
      top: 0
      left: 0
      width: inherit
      min-width: inherit
      height: inherit
      background: rgba($black, .3)
    h1
      margin: -1rem 0 0 0
      font-size: 2rem
      +bp(lg)
        margin: 0
        font-size: 2.4rem
  section
    padding: 2rem 0
    +bp(lg)
      padding: 5rem 0 7rem

.account-sidebar
  margin-bottom: 2.5rem
  .list-group-item
    padding: .75rem 0
    background: transparent
    border-color: darken($bg-light, 10%)
    +bp(lg)
      padding: .75rem 1.25rem
    &.active
      color: darken($text-primary, 10%)

.account-settings
  .title
    margin-bottom: 1.5rem
  .subtitle
    margin-top: 1.5rem
    margin-bottom: 1rem
    font-size: 1.2rem
    font-weight: 500
  p
    margin: 0

form.account-form
  width: 100%
  label
    font-size: .9rem
    color: $text-primary-darken
  input.form-control
    padding: 1.1rem 1.2rem 1rem
    background: transparent
    border: 1px solid rgba($border-primary, .5)
  button
    margin-top: 2rem

.list-group.order-detail
  .item-img
    width: 60px
    margin-right: 1rem
  .item-detail
    width: 100%
  .item-title
    width: 100%
    +bp(md)
      width: calc(100% - 60px - 60px - 80px)
      + div
        margin-left: auto
    small
      opacity: .5
  .item-quantity
    display: inline-block
    +bp(md)
      width: 60px
      text-align: center
  .item-price
    display: inline-block
    margin-left: .5rem
    +bp(md)
      width: 80px
      margin-left: 0
      text-align: right

.order-total
  padding: .75rem
  text-align: right
  .total-price
    margin-left: .5rem
    font-size: 1.6rem
    font-weight: 600
